AWS_ACCESS_KEY_ID=CHANGE_ME
AWS_SECRET_ACCESS_KEY=CHANGE_ME
AWS_DEFAULT_REGION=us-west-2
AWS_ROLE_ARN=CHANGE_ME
SPEECH_TO_TEXT_S3_BUCKET=CHANGE_ME
SPEECH_TO_TEXT_BATCH_JOB_QUEUE=CHANGE_ME
SPEECH_TO_TEXT_BATCH_JOB_DEFINITION=CHANGE_ME
SPEECH_TO_TEXT_DONE_SQS_QUEUE=CHANGE_ME
HONEYBADGER_API_KEY=CHANGE_ME
HONEYBADGER_ENV=CHANGE_ME
