AWS_ACCESS_KEY_ID=CHANGE_ME
AWS_SECRET_ACCESS_KEY=CHANGE_ME
AWS_DEFAULT_REGION=us-west-2
SPEECH_TO_TEXT_S3_BUCKET=my-speech-to-text-development
SPEECH_TO_TEXT_BATCH_JOB_QUEUE=my-speech-to-text-development
SPEECH_TO_TEXT_BATCH_JOB_DEFINITION=my-speech-to-text-development
SPEECH_TO_TEXT_DONE_SQS_QUEUE=speech-to-text-development
HONEYBADGER_API_KEY=CHANGE_ME
HONEYBADGER_ENV=CHANGE_ME
